<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HJMethod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC400E871CFFD9B300A1B490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC400EA01CFFD9B300A1B490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC400EAB1CFFD9B300A1B490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
